@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #444444;
    font-family: 'Almarai', arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

nav a {
    text-align: center;
    color : #fcfbfb;
    text-decoration: none;
    padding: 35px;
    margin-top: 10px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #444444;
    border-bottom: 2px solid #137DC5;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    font-weight: bold;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a:hover {
    background-color: #696969;
    color: #137DC5;
    text-shadow: 5px 5px 10px black;
    font-weight: bold;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: auto;
}

.coeur {
    width: 100%;
    height: auto;
    grid-column:2/5;
    grid-row: 4/9;
    margin-top: 150px;
    object-fit: cover;
}

.msg-home {
    grid-column: 6/10;
    grid-row: 6/8;
    margin-top: 150px;
    margin-right: 50px;
    border-radius: 20px 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border: 5px solid #137DC5;
    transition: transform .5s;
    box-shadow: 5px 5px 5px #696969;
}

.msg-home:hover, footer .social img:hover {
    opacity: .6;
    transform: scale(1.1);
}

footer {
    color: #fcfbfb;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #137DC5;
}

footer a {
    text-decoration: none;
    color: #fcfbfb;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;

}

footer .social img {
    border-radius: 50%;
    border: 2px solid #696969;
}



/*don't write after this*/

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}